<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>게시물 상세 페이지</title>
    </head>

    <body>
    <h3> 제목: </h3>
    <h3 th:text = "${board.title}"> 제목입니다. </h3>
    <h3 th:text = "${board.username}"> 이름 </h3>
    <p th:text = "${board.content}">내용이 들어갈 부근입니다.</p>
    <a th:href="@{${board.filepath}}">다운 받기</a>
    <a th:href="@{/board/modify/{id}(id= ${board.id})}">수정</a>
    <a th:href="@{/board/delete(id=${board.id})}"> 글 삭제</a>

    </body>
</html>